.auth {
  width: 600px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 3px;

  &__title {
    margin-bottom: 20px;
  }

  input {
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .reg {
    display: flex;
    align-items: center;

    &__text {
      margin-right: 100px;

      a {
        text-decoration: none;
      }
    }

    span {
      margin-left: 10px;
    }
  }
  button {
    border: 1px solid black;
    background-color: rgb(73, 83, 83);
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    font-size: 16px;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
